body * {
	box-sizing: border-box;
	padding: 0;
}

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
}

h1, h2, h3, h4 {
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
}

.material-icons {
	vertical-align: middle;
}

a {
	text-decoration: none;
	transition: all .3s;
}

a.dark-text {
	color: #252C3A
}

a.light-text {
	color: #FFFFFF;
}

.display-icon {
	font-size: 40px;
}

.red {
	color: #ff0000;
}

.violetred {
	color: #c71585;
}

.green {
	color: #55b392;
}

.lightblue {
	color: #1e90ff;
}

.blue {
	color: #0026ff;
}

.orange {
	color: #df5900;
}

.background-white {
	background-color: #EAECF2;
	color: #252C3A
}

.background-blue {
	background-color: #2a3b5d;
	color: #FFFFFF;
}

.background-dark {
	background-color: #232C3A;
	color: #FFFFFF;
}

.background-green {
	background-color: rgb(27, 101, 89);
	color: #FFFFFF;
}

/* tomato #F06449 */
/*===================================================*/
/* NAV BAR */
/*===================================================*/

.nav-banner {
	padding: 15px;
	text-align: center;
}

a.nav-name {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
	letter-spacing: 7px;
}

.nav-bar {
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

/*===================================================*/
/* LANDING PAGE */
/*===================================================*/

.landing-header {
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 20px;
	background-color: #FFFFFF;
	box-shadow: 0 3px 6px #00000020;
    position: relative;
}

.landing-link {
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	font-size: 2.5em;
	letter-spacing: 5px;
	color: white;
}

.landing-link a {
	color: #272727
}

.webdev a:hover {
	color: #ff0000;
}

.photography a:hover {
	color: #c71585;
}

.resources a:hover {
	color: #1e90ff;
}

.about a:hover {
	color: #55b392;
}

.introTile {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 20%;
	text-align: center;
	padding: 20px;
}

.landing-summary {
	padding: 50px 40px 90px 40px;
}

.summary-box {
	width: 300px;
	margin: 0 auto;
	text-align: center;
}

.summary-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.summary-text {
	font-weight: 400;
	margin: 0 0 40px 0;
	line-height: 1.25em;
}

.summary-link {
	background-color: #FFFFFF;
    padding: 15px 25px;
	box-shadow: 4px 4px 8px #222c3a50;
}

.summary-link:hover {
	box-shadow: 2px 2px 4px #222c3a50;
	background-color: #2a3b5d;
	color: #FFFFFF;
}

/*===================================================*/
/* SOCIAL MEDIA BAR */
/*===================================================*/

.social-media a {
	color: #242c3a;
}

.social-media {
	justify-content: space-between;
	width: 350px;
	margin: 0 auto;
	font-size: 30px;
}

.social-icon {
	transition: all .3s;
}

.social-icon.fa-envelope:hover {
	color: #F16462;
}

.social-icon.fa-github:hover {
	color: #6CC644;
}

.social-icon.fa-linkedin-in:hover {
	color: #0077B5;	
}

.social-icon.fa-instagram:hover {
	background: -webkit-linear-gradient(#CA2D8C, #F99848);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.social-icon.fa-twitter:hover {
	color: #1DA1F2;
}

@media only screen and (max-width: 640px) {
	.landing-link {
		font-size: 1.5em;
	}

	.nav-name {
		letter-spacing: 4px;
	}

	.social-media {
		width: 85%;
		font-size: 24px;
	}

	.linkedin-box {
		width: 30px;
		height: 30px;
	}

}