body * {
	box-sizing: border-box;
	padding: 0;
}

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	line-height: 1.4em;

}

.content-header {
	padding: 40px 40px 60px 10%;
	background-color: #272727;
	background-repeat: no-repeat;
	background-size: cover;
	color: #EAECF2;
	box-shadow: 0 4px 8px #00000028;
	min-height: 75vh;
}

.content-header>p, .content-header>h1 {
	text-shadow: 0 0 10px #272727;
	line-height: 1.4em;
}

h1, h2, h3, h4 {
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
}

.material-icons {
	vertical-align: middle;
}

a {
	text-decoration: none;
	transition: all .3s;
}

a>.nav-tab>i {
	transition: all .3s;
}

.btn-link {
    padding: 15px 15px;
	box-shadow: 4px 4px 8px #222c3a60;
}

.btn-link:hover {
	box-shadow: 2px 2px 4px #222c3a90;
}

.display-icon {
	font-size: 40px;
}

.red {
	color: #ff0000;
}

.violetred {
	color: #c71585;
}

.green {
	color: #55b392;
}

.lightblue {
	color: #1e90ff;
}

.blue {
	color: #0026ff;
}

.dkblue {
	color: #232C3A;
}

.orange {
	color: #f27f1d;
}

.white {
	color: #FFFFFF;
}

.metal {
	color: #272727;
}

.inactive {
	font-style: italic;
	color: #FFFFFF88;
}

.background-white {
	background-color: #FFFFFF;
}

.background-offWhite {
	background-color: #EAECF2;
}

.background-blue {
	background-color: #2a3b5d;
}

.background-dkblue {
	background-color: #232C3A;
}

.background-metal {
	background-color: #272727;
}

.background-green {
	background-color: rgb(27, 101, 89);
}

.link-box {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	margin: 5px 0 20px 0;
	padding: 5px;
}

/*===================================================*/
/* NAV BAR */
/*===================================================*/

.nav-name-box {
	width: calc(100% - 60px);
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-name {
	margin: 0 60px 0 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	font-weight: 100;
	letter-spacing: 4px;
}

#navBar-js {
	display: none;
}

.nav-bar {
	display: flex;
	justify-content: flex-start;
	position: fixed;
	width: 100%;
	bottom: 0;
	box-shadow: 0 -2px 4px #222c3a50;
	font-size: .8em;
	z-index: 100;
}

.nav-bar-links {
	width: calc(100% - 60px);
	height: 60px;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-end;
	color: #252C3A;
}

.burger-box {
	position: relative;
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.burger {
	display: block;
}

.burger-layer {
	width: 35px;
	height: 2px;
	background-color: #FFFFFF;
	margin-bottom: 6px;
	position: relative;
	top: 0;
	transition: all ease-in-out .6s;
}

.burger.open .burger-layer:nth-child(2) {
	width: 0;
	opacity: 0;
}

.burger.open .burger-layer:nth-child(1) {
	transform: rotate(-225deg);
	top: 8px;
}
.burger.open .burger-layer:nth-child(3) {
	transform: rotate(225deg);
	top: -8px;
}



.nav-link {
	width: 25%;
	height: 100%;
	/* margin: 0 1%; */
}

.nav-tab {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: all .3s;
}

/* Tab properties on current view and hover */
.current-tab-webdev {border-bottom: 2px solid #ff0000;}
.nl-webdev:hover i {color: #ff0000;}
.nl-webdev:hover .nav-tab {border-bottom: 2px solid #ff0000;}

.current-tab-photography {border-bottom: 2px solid #c71585;}
.nl-photography:hover i {color: #c71585;}
.nl-photography:hover .nav-tab {border-bottom: 2px solid #c71585;}

.current-tab-resources {border-bottom: 2px solid #1e90ff;}
.nl-resources:hover i {color: #1e90ff;}
.nl-resources:hover .nav-tab {border-bottom: 2px solid #1e90ff;}

.current-tab-about {border-bottom: 2px solid #55B392;}
.nl-about:hover i {color: #55b392;}
.nl-about:hover .nav-tab {border-bottom: 2px solid #55b392;}

.menu {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	top: 100%;
	z-index: 90;
	width: 100%;
	height: calc(100% - 60px);
	padding: 5% 8%;
	transition: all ease-out .6s;
	overflow-y: scroll;
}

.menu.open {
	top: 0;
}

.menu-link {
	display: flex;
	align-items: center;
	font-size: 1.2em;
}

.menu-link i {
	margin-right: 20px;
	font-size: 1.4em;
}

.menu-link h3 {
	margin: 0;
}

.menu-link.sub-link {
	font-size: 1em;
    margin-left: 60px;
    font-weight: 100;
}

.menu-link:hover {
	color: #f27f1d;
}

/*===================================================*/
/* LANDING PAGE */
/*===================================================*/

.landing-header {
	width: 100%;
	height: calc(100vh - 60px);
	margin: 0;
	padding: 20px;
	box-shadow: 0 3px 6px #00000020;
    position: relative;
}

.landing-link {
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	font-size: 1.5em;
	letter-spacing: 5px;
	color: white;
}

.landing-link a {
	color: #272727
}

.ll-webdev a:hover {
	color: #ff0000;
}

.ll-photography a:hover {
	color: #c71585;
}

.ll-resources a:hover {
	color: #1e90ff;
}

.ll-about a:hover {
	color: #55b392;
}

.introTile {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 20%;
	text-align: center;
	padding: 20px;
}

.landing-summary {
	padding: 50px 40px 90px 40px;
}

.summary-box {
	width: 315px;
	margin: 0 auto;
	text-align: center;
}

.summary-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.summary-text {
	font-weight: 400;
	margin: 0 0 40px 0;
	line-height: 1.25em;
}

.summary-link {
	background-color: #FFFFFF;
    padding: 15px 25px;
	box-shadow: 4px 4px 8px #222c3a50;
}

.summary-link:hover {
	box-shadow: 2px 2px 4px #222c3a50;
	background-color: #2a3b5d;
	color: #FFFFFF;
}

/*===================================================*/
/* SOCIAL MEDIA BAR */
/*===================================================*/

.social-media {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding: 20px;
	width: 100%;
	max-width: 350px;
	font-size: 1.5em;
	text-align: center;
	border-top: 1px solid #FFFFFF88;
}

.social-icon {
	transition: all .3s;
}

.social-icon.fa-envelope:hover {
	color: #F16462;
}

.social-icon.fa-github:hover {
	color: #6CC644;
}

.social-icon.fa-linkedin-in:hover {
	color: #0077B5;	
}

.social-icon.fa-instagram:hover {
	background: -webkit-linear-gradient(#CA2D8C, #F99848);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.social-icon.fa-twitter:hover {
	color: #1DA1F2;
}

/*===================================================*/
/* WEB DEV PAGE */
/*===================================================*/

.webdev-header {
	background-color: none;
	background-color: #272727;
	/* Cropped photo ideal for mobile */
	background-image: 
		linear-gradient(to bottom, #272727C8 33%, #27272700), 
		url('/assets/tower-horizontal.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: #EAECF2;
	box-shadow: 0 4px 8px #00000028;
}

.tools-title {
	margin: 50px 0 5px 0;
	font-size: 1.5em;
	font-weight: 200;
}

.section-break {
	width: 100%;
	font-size: 40px;
	color: #27272748;
	text-align: center;
	margin: 30px 0;
}

.break-icon {
	font-size: 1em;
}

.code-box {
	display: flex;
	flex-wrap: wrap;
	max-width: 400px;
}

.code-tag {
    background-color: #EAECF2;
	color: #272727;
	border-bottom: 1px solid #ff0000;
    margin: 4px;
    padding: 8px;
    border-radius: 3px;
	font-size: .8em;
	line-height: 1em;
}

.proj-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 100%;
	padding: 30px;
	background-color: #f3f3f3;
	box-shadow: 0 0 8px #00000028;
}
.proj-card {
	max-width: 500px;
}

.proj-title {
	font-size: 1.7em;
}

.disclaimer {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	font-size: .8em;
	color: #272727bb;
	font-weight: 600;
	margin-top: -15px;
	font-style: italic;
}

.disclaimer-text {
	margin: 0 0 20px 0;
}

.proj-img-card {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 400px;
	padding: 10px;
}

.proj-img {
	width: 100%;
	box-shadow: 0 0 4px #00000050;
}

.proj-link-icon {
	font-size: 1em;
	opacity: .7;
}

.proj-link:hover {
	background-color: #FFFFFF; color: #272727;
}

.proj-link:hover .proj-link-icon {
	color: #ff0000;
}

/*===================================================*/
/* PHOTOGRAPHY PAGE */
/*===================================================*/

.photography-header {
	background-image: 
		linear-gradient(to right, #272727A5, #27272700), 	
		url('https://instagram.com/p/BVQQcr2FeLX/media/?size=l');
	background-image: 
		linear-gradient(to bottom, #272727A5, #27272700), 	
		url('https://instagram.com/p/BVQQcr2FeLX/media/?size=l');
	background-position: center;
}

/*===================================================*/
/* RESOURCES PAGE */
/*===================================================*/

.resources-header {
	background-image: 
		linear-gradient(to top, #27272755, #27272755), 	
		url('https://instagram.com/p/BaaTRu1lbHl/media/?size=l');
	background-position: right;
}

/*===================================================*/
/* ABOUT PAGE */
/*===================================================*/
.about-header {
	background-image: 
	linear-gradient(to bottom, #232C3AC5 2%, #27272700),
	url('https://instagram.com/p/BINpGFjDvsw/media/?size=l');
	background-position: right;
}

.about-header>p, .about-header>h1 {
	text-shadow: unset;
}

#error-js {
	display: none;
}

.error {
	width: 100%;
	max-width: 500px;
	padding: 15px;
	margin: 15px auto 80px;
	background-color: #b65252;
	color: white;
}

.error-icon {
	display: block;
	width: 40px;
	margin: 10px auto;
}

@media only screen and (min-width: 640px) {
	h1 {
		font-size: 2.5em;
	}

	.content-header {
		padding-top: 100px;
	}

	.content-header>p {
		max-width: 66%;
	}

	.landing-header {
		padding-top: 80px;
		height: 98vh;
	}
	
	.landing-link {
		font-size: 2.5em;
	}

	.webdev-header {
		background-image: 
			linear-gradient(to right, #272727C8, #27272700), 
			url('https://instagram.com/p/BeQv4zcloTZ/media/?size=l');
			background-position: bottom;
	}

	.nav-name {
		letter-spacing: 7px;
		font-size: 1.4em;
	}

	.nav-bar {
		font-size: 1em;
		top: 0;
		bottom: unset;
		box-shadow: 0 2px 4px #222c3a50;
	}

	.menu {
		top: -100%;
	}

	.menu.open {
		top: 60px;
	}

	.social-media {
		width: 350px;
		font-size: 2em;
		border: none;
	}

	.btn-link {
		padding: 15px 25px;
	}
}